/*------Global------*/
html{
	font-family: basic sans,sans-serif;
	font-weight: 300;
}
*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size: 100%;
	vertical-align: baseline;
}
html body{
	width: 100%;
}
.bold{
	font-weight: 500;
}
h1{
	font-size: 23px;
	color: #fff;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
}
.nav{
	width: 98%;
	margin:auto;
	background-color: red;
	display: flex;
	height: 60px;

}
.logo{
	flex:1; 
}
.nav a, .nav a img{
	margin:0 0.5em;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	line-height: 60px;
	font-weight: 300;
}
.links:hover{

	border-bottom: 2px solid #fff;
}

.landing{
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-top: -60px;
}
.landingWrapper{
	width: 80%;
	margin:auto;
	padding: 8em 3em;
}
.landingWrapper img{
	margin-left: 15%;
	float: left;
}
.landingRight{
	float: left;
	margin: 4em 0 0 0;
}
.landingRight p{
	color:#fff;
}
.btn{
	background-color: transparent;
	border: 2px solid #fff;
	padding: 0.75em 2em;
	border-radius: 3px;
	width: 100px;
	text-align: center;
	display: block;
	text-decoration: none;
	color:#fff;
	margin-top: 20px;
}
.btn:hover{
	background-color: #fff;
	padding: 0.75em 2em;
	border-radius: 3px;
	width: 100px;
	text-align: center;
	display: block;
	text-decoration: none;
	color:#034667;
	margin-top: 20px;
}
.mobileAppWrapper{
	width: 80%;
	margin: -8em auto 0 auto;
}
.mobileRight img{
	float: right;
	margin-right: 15%;
}
.mobileLeft{
	float: left;
	margin: 15em 0 0 10em;
}
.mobileLeft p{
	font-size: 18px;
	color: #182227;
}
.mobileLeft h1{
	color: #182227;
}
.mobileLeft a img{
	margin-top: 20px;
}
.last{
	margin-left: 1.5em;
}
.footer{
	background-color: #182227;
	display:flex;
	height: 80px;
	line-height: 80px;
	color: #fff;
}
.footer p{
	margin-left: 20%;
	font-size: 15px;
}
.footer a{
	margin-left: 3em;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}